<form action='articles/new' method="post" target="_blank">
  <button type="submit">写文章</button>

  <div class="control-group">
    <label class="control-label" for="EmailHtml">Html:</label>
    <div class="controls">
      <textarea id="EmailHtml" name="EmailHtml" cols="36" rows="5">默认内容</textarea>
    </div>
  </div>
</form>
